*{
  margin: 0;
  padding: 0;
  /* display: inline-block; */
}
h1, h2, h3 {
    
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.header {
  margin-top: 2rem;
  padding: 5px;
  background-color: #f9fafa;
  
}
h1 {
  display: flex;
  justify-content: center;
}
.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.magnifying-glass {
    height: 1.4rem;
    width: 1.4rem;
   
}
div input {
    /* margin-bottom: 0.5rem; */
    margin-right: 8px;
    border: none;
}
.search-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.search-btn{
    height: 1.4rem;
    width: 1.4rem;
    background-image: url(./assert/magnifying-glass.png);
    background-size: cover;
    background-color: white;
    border: none;
}
.mode-toggler {
  float: right;
  height: 30px;
  width: 50px;
  font-size: 10px;
  background-color: rgb(57, 65, 73);
  color: white;
  border-radius: 10px;
  border: 1.8px solid rgb(0, 0, 0);
}
.light {
  background-color: white;
  color: black;
}

#search {
  cursor: pointer;
  /* border: 2px solid rgb(131, 159, 159); */
  border-radius: 2rem;
  background-color: #4e5156;
  color : #e8e8e8;
  margin-left: 2rem;
  font-weight: 300;
  box-shadow: 2px 2px 10px #4e5156;
  padding: 12px;
}
.search-bar input::placeholder{
  color:white;
}
.search:hover {
  border: 2px solid black;
}
.psc{
  background-color: #edf2f2;
  margin: 0.3rem;
  border: 1px solid rgb(238, 238, 238);
  padding: 1px;
  padding-left: 5px;
  margin-bottom: 5px;
  /* display: inline; */
}
.partOfSpeech {
  background-color: #cac7c4;
  display: inline;
  background: linear-gradient( gray, white);
  padding: 2px;
  padding-bottom: 7px;
  margin: 2px;
}
.search-engine {
  display: flex;
  justify-content: start;
  align-items: center;
}
.outer-box{
  /* margin: 5px; */
  margin: 2px;
  padding: 10px;
  background-color: #f6fff8;
}

.example{
  padding: 0;
  margin: 0;
  display: contents;
  background-color: rgb(167, 163, 163);
}
/* .definition{
  margin: 0;
} */
.defs{
  padding: 2px;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:#e9ecef;
  

}
