h1, h2, h3 {
    
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  display: flex;
  justify-content: center;
}
.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.magnifying-glass {
    height: 1.4rem;
    width: 1.4rem;
   
}
div input {
    /* margin-bottom: 0.5rem; */
    margin-right: 8px;
    border: none;
}
.search-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.search-btn{
    height: 1.4rem;
    width: 1.4rem;
    background-image: url(./assert/magnifying-glass.png);
    background-size: cover;
    background-color: white;
    border: none;
}
.mode-toggler {
  float: right;
  height: 30px;
  width: 50px;
  font-size: 10px;
  background-color: rgb(52, 57, 61);
  color: white;
  border-radius: 10px;
  border: 1.8px solid rgb(0, 0, 0);
}
.light {
  background-color: white;
  color: black;
}

#search {
  cursor: pointer;
  /* border: 2px solid rgb(131, 159, 159); */
  border-radius: 2rem;
  background-color: #4e5156;
  color : #e8e8e8;
  margin-left: 2rem;
  font-weight: 300;
  box-shadow: 2px 2px 10px #4e5156;
}
.search-bar input::placeholder{
  color:white;
}
.search:hover {
  border: 2px solid black;
}
.psc{
  background-color: lightblue;
}
.partOfSpeech {
  background-color: #1A237E;
}
.search-engine {
  display: flex;
  justify-content: start;
  align-items: center;
}
